= javascript_include_tag "/js/shop_cart.js"
%h3=  ["购物车", Settings.website.title].join(" - ") 

%a.btn.btn-default.btn-xs.right{href: "/home", style: "margin-top:-40px;"} 返回home

%div#browser

%table.table.table-striped
  %thead
    %tr
      %th.dyna-hidden.hidden{style: "width:120px;"} 图片
      %th 名称
      %th{style: "width:60px;"} 价格
      %th.dyna-hidden.hidden{style: "width:30px;"} 净重
      %th{style: "width:100px;"} 数量
      %th{style: "width:50px;"} 小计
  %tbody
    - @products.each do |product|
      %tr.product{id: "product_#{product.id}"}
        %td.dyna-hidden.hidden <image src="./images/products/#{product.image}" style="width:120px;">
        %td
          %span.name= product.name
        %td
          %span.price= product.price.to_f.round(2)
          = product.unit1 + "/" + product.unit2
        %td.dyna-hidden.hidden=product.weight.to_s + product.unit3
        %td
          %a.minus.btn.btn-default.btn-xs.btn-primary{onclick: "ShopCart.minus('product_#{product.id}', #{product.price});", style: "border-radius: 3px 0px 0px 3px;"}
            %i.glyphicon.glyphicon-minus
          %input.form-control.quantity{id: "product_#{product.id}_quantity", min: "0", style: "padding:0px;width:38px;display:inline;line-height:22px;height:22px;font-size:8px;border-radius: 0px;margin: auto -5px;text-align:center;", type: "number", value: "#{chk_params(product.id)}", disabled: "disabled"}
          %a.plus.btn.btn-default.btn-xs.btn-primary{onclick: "ShopCart.plus('product_#{product.id}', #{product.price});", style: "border-radius: 0px 3px 3px 0px;"}
            %i.glyphicon.glyphicon-plus
        %td.amount{id: "product_#{product.id}_amount", style: "text-align: center;"} 0
    %tr.success
      %td.dyna-hidden.hidden
      %td.dyna-hidden.hidden
      %td{colspan: "2", style: "text-align: right;vertical-align:middle;"}
        %span.total-quantity{style: "font-size:18px;"} 0
        件
      %td{style: "vertical-align:middle;"}
        合计￥
        %span.total-amount{style:"font-size:18px;"} 0
      %td 
        %form.form-inline.col-sm-12{"accept-charset" => "UTF-8", :action => "/transactions/checkout", :method => "post", :role => "form", :style => "margin:0px;padding:0px;"}
          %input#quantity.hidden{:name => "quantity", :type => "hidden", :value => "0"}/
          %input#amount.hidden{:name => "amount", :type => "hidden", :value => "0"}/
          %input#order.hidden{:name => "order", :type => "hidden", :value => "0"}/
          %input.btn.btn-default.btn-success{:name => "commit", :type => "submit", :value => "结账"}

