=javascript_include_tag "/js/products.js"

.row
  .col-sm-4
    %h1=  ["商品管理", Settings.website.title].join(" - ")

  .col-sm-2{style: "margin-top:25px;"}
    -link_to "生成表态模板","javascript:void(0);", class: "btn btn-default btn-success right", onclick: "products.generate_static_files();"

  .col-sm-6{style: "margin-top:25px;"}
    =link_to "添加商品", "/products/new", class: "btn btn-default btn-primary right"
    =link_to "订单列表", "/admin", class: "btn btn-default right"


.row{style: "margin-top: 5px;"}
  .col-sm-8
    %label.control-label{:for => "search"} 搜索
    %input#search.form-control{:placeholder => "输入关键字", :type => "text", style: "display:inline;width:60%;"}
    %span.search-result
  .col-sm-4{style: "margin-top:10px;"}
    %label{class: "right"}
      %input{:id => "showall", :name => "showall", :value => 1, :type => "checkbox", :onchange => "Products.show_all_products(this);", class: "right"} 显示所有商品

%table.table.table-striped
  %thead
    %tr
      %th{style: "width:150px;"} 图片
      %th 名称
      %th 产地 
      %th 价格
      %th{style: "width:50px;"} 净重
      %th{style: "width:200px;"} 描述
      %th{style: "width:50px;"} 编辑
      %th{style: "width:50px;"} 上架
  %tbody
    - @products.each do |product|
      %tr.product{id: "product_#{product.id}",class: "#{'success' if is_active(product)} #{product.onsale ? 'onsale' : 'hidden outsale'}","data-keywords" => "#{keywords(product)}"}
        %td
          %img.img-news{src: "./images/products/#{product.image}", style: "width:150px;"}
          %form.form-horizontal{"accept-charset" => "UTF-8", :action => "/products/#{product.id}/image", :enctype => "multipart/form-data", :method => "post", :style => "display:inline;width:100px;"}
            %input.text_field{:name => "image", :onchange => "$('#image_submit#{product.id}').trigger('click');", :type => "file", :style => "width: 150px;"}
              %input.btn{:name => "commit", :style => "display:none;", :type => "submit", :value => "submit", :id => "image_submit#{product.id}"}

        %td= product.name 
        %td= product.from
        %td= product.price.to_s + " #{product.unit1}/#{product.unit2}"
        %td= product.weight.to_i.to_s + " " + product.unit3
        %td= product.desc
        %td= link_to "编辑", "/products/#{product.id}/edit"
        %td
          %form.form-inline{"accept-charset" => "UTF-8", :action => "/products/#{product.id}/onsale", :method => "post", :role => "form"}
            - if product.onsale
              %input{:name => "status", :value => 0, :type => "checkbox", :checked => "true", :onchange => "$('#product_#{product.id}_submit').trigger('click');"}/
            - else
              %input{:name => "status", :value => 1, :type => "checkbox", :onchange => "$('#product_#{product.id}_submit').trigger('click');"}/
            %input.hidden{:name => "commit", :type => "submit", :value => "submit", :id => "product_#{product.id}_submit"}


.row
  .col-sm-6.col-offset3
    // Modal
    #myModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
      .modal-dialog
        .modal-content#myModalContent
          .modal-header
            %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
            %h4#myModalLabel.modal-title loading
          .modal-body
            loading
          .modal-footer
            %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close
